.button-wrapper {
    width: 100%;
    height: 100%;
}

.button-align {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: $montserrat;
    color: $white;
    font-weight: 700;
    font-size: 14px;
}

.button-main {
    cursor: pointer;
    path:nth-child(1) {
        fill: $main;
        @include button-transition;
    }
    path:nth-child(2) {
        stroke: $main;
        @include button-transition;
    }

    &:hover {
        path:nth-child(1) {
            fill: $main-hovered;
        }
        path:nth-child(2) {
            stroke: $main-hovered;
        }
    }
}

.button-url {
    cursor: default;
}