.learn-more-button {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $main;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    width: max-content;

    p {
        font-family: $montserrat;
        @include arrow-transition;
    }

    i {
        @include arrow-transition;
    }

    &:hover {
        color: $main-hovered;

        i {
            margin-left: 3px;
        }
    }
}