.grid-lines-alignment {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    @include grid-layout;
}
.grid-lines {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.grid-line {
    border-left: 1px dashed $grid-color;
    height: 100%;
}


@media screen and (max-width: $breakpoint-7) {
    .grid-line:nth-child(1) {
        display: none;
    }
    .grid-line:nth-child(2) {
        display: none;
    }
}