nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 290px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    
    li {
        a {
            text-decoration: none;
            font-family: $montserrat;
            color: $medium-gray;
            font-weight: 600;
            font-size: 15px;
        }
    }
}