@mixin grid-layout($added: 0px) {
    padding-right: calc(276px + $added);
    padding-left: calc(276px + $added);

    @media screen and (max-width: $breakpoint-1) {
        padding-right: calc(200px + $added);
        padding-left: calc(200px + $added);
    }

    @media screen and (max-width: $breakpoint-2) {
        padding-right: calc(100px + $added);
        padding-left: calc(100px + $added);
    }

    @media screen and (max-width: $breakpoint-3) {
        padding-right: calc(30px + $added);
        padding-left: calc(30px + $added);
    }
}