.header-format {
    padding-left: $header-align;
}

.header-format-subheader {
    font-family: $montserrat;
    color: $main;
    font-size: 18px;
    font-weight: 700;
}

.header-format-header {
    font-size: 37px;
    font-weight: 700;
    font-family: $montserrat;
    margin-top: 16px;
    line-height: 50px;
    max-width: 550px;
}

// Dark and Light
.header-format-header-dark {
    color: $dark-black;
}
.header-format-header-light {
    color: $white;
}


.header-format-description {
    margin-top: 32px;
    max-width: 700px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    font-family: $poppins;
}

// Dark and Light

.header-format-description-light {
    color: $light-gray;
}

.header-format-description-dark {
    color: $medium-gray;
}

.header-format-button {
    margin-top: 43px;
}

.header-format-centered {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0px !important;
}

.header-format-header-centered {
    max-width: 700px;
}

@media screen and (max-width: $breakpoint-6) {
    .header-format-header {
        font-size: 30px;
        line-height: 40px;
    }
    .header-format-description {
        font-size: 14px;
    }
    .header-format {
        padding-left: 15px;
    }
}
@media screen and (max-width: $breakpoint-7) {
    .header-format-description {
        font-size: 13px;
        line-height: 26px;
    }
    .header-format-header {
        font-size: 25px;
        line-height: 35px;
    }
}