.skewed-section {
    margin: 200px 0px;
    width: 100%;
    background: $black;
    transform: skewY(-5deg);
}

.skewed-section > *:not(.grid-lines-alignment) {
    transform: skewY(5deg);
}

.skewed-section-content-padding {
    padding: 220px 0px;
    @include grid-layout;
}


@media screen and (max-width: $breakpoint-3) {
    .skewed-section {
        margin-top: 185px;
        margin-bottom: 185px;
    }
    .skewed-section-content-padding {
        padding-top: 190px;
        padding-bottom: 190px;
    }
}

@media screen and (max-width: $breakpoint-6) {
    .skewed-section-content-padding {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .skewed-section {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}